{% extends 'base.html.twig'%}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block body %}
{% if app.user != null %}
<body>
    <div class="containerall">
        {# <div class="left d-none d-lg-block stick-left vh-100">
            <div class="h-100">
                <div class="group-action-left-1">
                    <ul>
                        <li>
                            <div>
                                <i class="fa-solid fa-house">&#160</i>
                            </div>
                            <div>
                                <h6>Home</h6>
                                
                            </div>
                            <div class="btn-group dropend w-100">
                                <button type="button" class="none  d-flex flex-row w-100" data-bs-toggle="dropdown" aria-expanded="false" style="border: none !important">
                                    <div>
                                        <i class="fa-solid fa-add">&#160</i>
                                    </div>
                                    <div>
                                        <h6>Add new type</h6>
                                    </div>
                                </button>
                                <ul class="dropdown-menu" style="width:400px">
                                    <li class="bg-white m-0 d-flex flex-row">
                                         <a class="dropdown-item col p-0 shadow overflow-hidden" href="#">Name</a>
                                        <a class="btn btn-success shadow" href="#">&#10004</a>
                                        <a class="btn btn-danger shadow" href="#">&#10006</a>
                                        <form action="{{path('newtype')}}" class="d-flex" method="GET">
                                            <input type="text" name="newtype" style="width:370px">
                                            <button type="submit" style="border: none; width: 30px;">&#10004</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div>
                                <i class="fa-solid fa-edit">&#160</i>
                            </div>
                            <div>
                                <h6>Type</h6>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="group-action-left-2">
                    <ul>
                    {% for t in type %}
                        <li>
                            <form action="{{path('Edit_type')}}" class="d-flex">
                                <div>
                                    <input type="hidden" name="idedittype" value="{{t.id}}">
                                    <input type="text" readonly name="edittype" onclick="removeReadonly(this)" value="{{t.TypeGround}}" style="border: none; width: 100%">
                                </div>
                                <div>
                                    <button type="submit" style="width:50px;border: none;border-radius: 12px    ">&#10004</button>
                                </div>
                            </form>
                                <div>
                                    <a href="{{path('Delete_type',{'id': t.id})}}" name="deleteid" style=" width:40px; border-radius: 12px">&#10006</a>
                                </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div> #}
        <div class="middle mx-auto">
            {# <div class="friend">
                <div class="fs-3 fw-bold">
                    Everyone
                </div>
                <hr class="mt-2 mb-2">
                <div class="box">
                {% for user in dataUser %}
                    <div class="box-header box-header-tag">
                        <div class="box-avata">
                            <div class="avata">
                                {% if user.avatar is not empty %}
                                    <img class="img rounded-circle img-icon" src="{{asset('uploads/'~user.avatar)}}" alt="">
                                {% else %}
                                    <img class="img rounded-circle img-icon" src="{{asset('images/defaultProfile.jpg')}}" alt="">
                                {% endif %}                            
                                <div class="sub-avata"></div>
                            </div>
                        </div>
                        <div class="box-title box-title-tag">
                            <div class="u-tus">
                                <a href="">
                                    <h5>{{user.name}}</h5>
                                </a>
                            </div>
                            <div class="u-title">
                                    <label for="">{{user.hometown}}</label>
                            </div>
                        </div>
                        <div class="right-title">
                            <div class="icon">
                                <i class="fa-sharp fa-solid fa-user-plus"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success m-2">Show more</button>
                </div>
            </div> #}
            {# <div class="group">
                <div class="fs-3 fw-bold">
                    Group
                </div>
                <hr class="mt-2 mb-2">
                <div class="box">
                {% for group in dataGroup %}
                    <div class="box-header box-header-tag">
                        <div class="box-avata">
                            <div class="avata">
                                {% if group.avatar is not empty %}
                                    <img class="img rounded-circle img-icon" src="{{asset('uploads/'~group.avatar)}}" alt="">
                                {% else %}
                                    <img class="img rounded-circle img-icon" src="{{asset('images/defaultProfile.jpg')}}" alt="">
                                {% endif %} 
                            </div>
                        </div>
                        <div class="box-title box-title-tag">
                            <div class="u-tus">
                                <a href="">
                                    <h5>{{group.name}}</h5>
                                </a>
                            </div>
                            <div class="u-title">
                                    <label for="">Created at {{group.create.format('d-m-Y')}}</label>
                            </div>
                        </div>
                        <div class="right-title">
                            <div class="icon">
                                <i class="fa-solid fa-user-group"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success m-2">Show more</button>
                </div>
            </div> #}
            <div class="post">

                <div class="fs-3 fw-bold">
                    Posts were reported
                </div>
                <hr class="mt-2 mb-2">
                {% for p in post %}
                <div class="box">
                    <div class="box-header">
                        <div class="box-avata">
                            <div class="avata">
                                {% if p.avatar is not empty %}
                                    <img class="img rounded-circle img-icon" src="{{asset('uploads/'~ p.avatar)}}" alt="">
                                {% else %}
                                    <img class="img rounded-circle img-icon" src="{{asset('images/defaultProfile.jpg')}}" alt="">
                                {% endif %}
                            </div>
                        </div>
                        <div class="box-title">
                            <div class="u-tus">
                                <a href="">
                                    <h5>{{p.username}}</h5>
                                </a>
                            </div>
                            <div class="u-title">
                                    <label for="">{{p.date}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>{{p.content}}</p>
                        {% if p.image is not empty %}
                            <img src="{{ asset('uploads/'~ p.image) }}" alt="">
                        {% endif %}

                    </div>
                    <div class="box-footer">
                        <div class="box-infor">
                            {# <div class="countview">
                                <a href="">
                                    <i class="fa-solid fa-heart"></i>&#160 0</a>
                            </div>
                            <div class="infor-right">
                                <div class="countcomment">
                                    <a href="">
                                        <i class="fa-solid fa-comment"></i>&#160 0
                                    </a>
                                </div>
                                <div class="countshare">
                                    <a href="">
                                        <i class="fa-solid fa-share-from-square"></i>
                                        &#160 0
                                    </a>
                                </div> #}
                            </div>
                        </div>
                        <div class="box-action">
                            <div class="sub-box-action" id="sub-box-action-1">
                                <a href="{{path('admin_delete_post',{'id': p.postid_id})}}">
                                    &#10006
                                </a>
                                <a href="" class=""></a>
                            </div>
                            <div class="sub-box-action">
                                <a href="">
                                    &#10004
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <div>
        </div>
    </div>
</body>
       <script>
            function removeReadonly(input) {
            input.removeAttribute('readonly');
}
    </script>
    <style>
.btn-success:hover {
    background-color: #97cc5f !important;
}
body{
    background-color: #ccc;
}
*{
    transition:0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-up{
    width: 500px; 
    box-shadow: 2px 2px #8ABE53;
}
.select-opnion{
    height: 30px !important; 
    font-size: 12px;
}

.post-button{
    background-color: #8ABE53; 
    font-weight: 700; 
    width: 100%; 
    transition: all 0.4s ease; 
}
.box{
    width: 500px;
    /* min-height: 148px; */
    height:auto;
    border-radius: 6px;
    border: 1px #999 solid;
    height: auto;
    box-sizing: border-box;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: #a5d473 2px 2px;
}
.box-header{
    height: 50px;
    /* background-color: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    
    /* border: 1px solid black; */
}
.box-header-tag{
    height:90px;
}
.box-avata{
    height: 36px;
    width: 36px;
    position: absolute;
    left: 12px;
    align-self: center;
}
.avata{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative;
}
.avata > img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.box-title{
    height: 46px;
    width: 350px;
    position: absolute;
    left: 11%;
    bottom: 0;
    align-self: center;
}
.box-title-tag{
    top: 50%; transform: translateY(-50%);
    left:13%;
}
.right-title{
    top: 50%; transform: translateY(-50%);
    right:15px;
    align-self: center;
    position: absolute;
    border-radius:50%;
    background-color:#cccccc;
    width:40px;
    height:40px;
    text-align: center;
    justify-content:center;
    display:flex;
}
.icon{
    align-self: center;
    text-align: center;
    justify-content:center;
    display:flex;
    width:30px;
}
.right-title:hover{
    background-color: #7a7d86;
}
.u-title label{
    margin: 0;
    font-size: 14px;
    color: #999;
}
.u-title label:hover{
    color: #333;
}
.u-tus{
    width: 100%;
    height: 50%;
    background-color: white;
}
.u-tus a h5{
    color: black;
}
.u-tus a h5:hover{
    text-decoration: underline;
}
.u-tus a{
    text-decoration: none;
}
.u-title{
    background-color: white;
    width: 100%;
    height: 50%;
}
.box-view{
    /* background-color: yellow; */
    height: 36px;
    width: 36px;
    position: absolute;
    right: 11%;
    display: flex;
    justify-content: center; 
}
.box-view span{
   margin: auto;
}
.box-close{
    height: 36px;
    width: 36px;
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
}
.box-content{
    padding-top: 6px;
    background-color: white;
    width: 100%;
    height: auto;
    text-align: justify;
}
.box-content img{
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    margin: auto;
    border-radius: 10px;
}
.box-content p{
    padding: 8px;
}
.box-footer{
    height: 60px;
    width: 100%;
}   
.box-infor{
    height: 30px;
    width: 100%;
    border-top: 1px solid #999;
    display: flex;
    justify-content: space-between;
}
.box-footer a{
    text-decoration: none;
    color: #999;
}
.box-infor a:hover{
    text-decoration: underline;
    color: #333;
}
.countview{
    margin-left: 28px;
}
.infor-right{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-right: 28px;
}
.box-action{
    display: flex;
    justify-content: space-around;
}
.sub-box-action{
    width: 100px;
    text-align: center;
    height: 29px;
    border-radius: 6px;
}
.icon-hide
{
    display: none;
}
.box-footer .box-action .sub-box-action a:hover .icon-none , .box-footer .box-action .sub-box-action .icon-hide{
    display: none;
}
.box-footer .box-action .sub-box-action:hover a:hover .icon-hide , .sub-box-action:hover{
    display: inline;
    background-color: #eee7e7;
}
.left , .right {
    width: 20%;
    height: 300px;
    /* margin-top: 20px; */
}
.left{
    display: block;
    border-radius: #8ABE53 2px 2px;
}
.left > div{
    position: fixed;
    width: inherit;
    height: 198px;
    background-color: #fff;
    border-right: #8ABE53 solid 1px;
    box-shadow: #8ABE53 2px 2px; 
}
.group-action-left-1{
    height:100px;
}
.group-action-left-1 ul, .group-action-left-1 ul li{
    width: 100%;
    list-style: none;
    height: 40px;
    padding: 0;
    list-style-type: none;
    margin-top: 6px;
    border-radius: 3px;
    vertical-align: middle;
    line-height:40px;

}
.group-action-left-1 ul li, .group-action-left-1 ul li button{
    display: flex;
    transition: all 0.4s ease;
}
.group-action-left-1 ul li:last-child{
    /* border-bottom: #333 solid 1px; */
}
.group-action-left-1 ul li div h6{
    line-height: 40px;
}
.group-action-left-1 ul li .sub-avatar{
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.group-action-left-1 ul li .sub-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.group-action-left-1 ul li button:hover{
        background-color: #8ABE53;
}
.group-action-left-1 li:hover{
    background-color: #8ABE53;
}
.group-drop-down{
    width: 100%;
    background-color: #fff;
}
.group-action-left-2 ul, .group-action-left-2 ul li{
    width: 100%;
    list-style: none;
    height: 40px;
    padding: 0;
    list-style-type: none;
    border-radius: 3px;
    vertical-align: middle;
    line-height:40px;
    border: none;
}
.group-action-left-2 ul li, .group-action-left-2 ul li a {
    display: flex;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}
.group-action-left-2 ul li:last-child{
    /* border-bottom: #333 solid 1px; */
}
.group-action-left-2 ul li div h6, .group-action-left-3 ul li div h6 {
    line-height: 40px;
}
.group-action-left-2 > ul > li > div > ul > li{
    display: flex;
    width: 100%;
}
.group-action-left-2 button{
    transition: all 0.4s ease;
}
.group-action-left-2 div button:hover{
    background-color: #8ABE53;
}
.group-action-left-3{
    margin-top: 50px;
}
.group-action-left-3 ul, .group-action-left-3 ul li{
    width: 100%;
    list-style: none;
    height: 40px;
    padding: 0;
    list-style-type: none;
    border-radius: 3px;
    vertical-align: middle;
    line-height:40px;
    border: none;
}
.group-action-left-3 > ul > li{
    display: flex;
    background-color: #fff;
    list-style-type: none;
    transition: all 0.3 ease;
}
.group-action-left-3 ul li .sub-avatar{
    height: 40px;
    weight: 40px;
}
.group-action-left-3 ul li .sub-avatar img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.group-action-left-3 > ul > li:hover{
    background-color: #8ABE53;
}
/* .left-drop-menu{
    margin-top: 10px !important;
    background-color: #fff !important;
} */
/* .dropdown-item{
    background-color: #fff;
} */
.group-action-left-2 > ul > li > div > ul > li a{
    color: black;
    font-weight: 600;
}
.group-action-left-2 > ul > li > div > ul > li > img{
    /* border-radius: 50%; */
    height: 40px;
    width: 40px;
}
 .group-action-left-2 a:hover{
    background-color: #8ABE53;
}
.containerall{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.left-footer{
    width: 100%;
    height: 100px;
    box-shadow: #ccc 2px 2px;
    margin-top: 139px;
    display: flex;
    flex-wrap: wrap;
}
.left-footer a{
    text-decoration: none;
    color: #606770;
}
.left-footer a:hover{
    text-decoration: underline;
}
.right{
    height: auto;
    border-left: #8ABE53 solid 1px;
    border-radius: 12px;
    box-shadow: #8ABE53 2px 2px;
    overflow: auto;
}
.right h5{
    background-color: #fff;
}
.list-friend{
    background-color: #fff;
    overflow: auto;
    position: sticky;
}
.right > div > ul > li{
    background-color: #8ABE53;
    list-style: none;
    list-style-type: none;
    height: 30px;
    border-radius: 25px 0 0 25px;
    margin-top: 3px;
    transition: all 0.3 ease;
}
.right > div > ul > li > img{
    width: 29px;
    height: 29px;
    border-radius: 50%;
}
.right > div > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
}
.right > div > ul > li:hover{
    background-color: #b6e683;
}
.right ul li:last-child:hover{
    background-color: #b6e683;
}
.right ul li:last-child{
    background-color: #8ABE53;
    list-style: none;
    list-style-type: none;
    height: 30px;
    margin-top: 12px;
    border-radius:12px;
    text-align: center;
    width: 80%;
}
</style>
</body>
{% endif %}
      {% if app.user == null %}
      <a href="{{ path('app_login') }}" class="btn btn-info">
        You need to login to see the list 😜😜 >></a>
      {% endif %}
{% endblock %}
