{% extends 'base.html.twig'%}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block body %}
{% if app.user != null %}
    {# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> #}
        <div class="modal-dialog">
            <div class="modal-content">

                {{ form_start(form,{'attr': {'class': 'container border rounded form-up'}}) }}
                    <div class="post-header border-bottom text-center">
                        <h2>Make post</h2>
                    </div>
                    <div class="post-body">
                        <div class="d-flex mt-1" style="height: 80px;">
                            <div class="">

                                {% if app.user.avatar is not empty %}
                                <img class="rounded-circle border-dark" src="{{asset('uploads/'~app.user.avatar)}}" alt="" style="width: 60px; height: 60px;"> &nbsp &nbsp
                                {% else %}
                                <img class="rounded-circle border-dark" src="{{asset('images/defaultProfile.jpg')}}" alt="" style="width: 60px; height: 60px;"> &nbsp &nbsp
                                {% endif %}
                            </div>
                            <div>
                                <div>
                                    <h5>{{app.user.username}}</h5>
                                    {{ form_widget(form.PostUserID, {'attr': {'hidden': 'hidden', 'value': app.user.id}}) }}
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">

                            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        {{ form_widget(form.date, {'attr': {'hidden': 'hidden', 'value': form.vars.value.date|date('Y-m-d H:i:s')}}) }}
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">
                                <i class="fa-solid fa-image"></i>
                            </label>

                            {{ form_widget(form.image, {'attr': {'class': 'form-control', 'id': 'inputGroupFile01'}}) }}
                        </div>
                    </div>
                    <div class="col-12 d-flex">

                        {{ form_widget(form.POST, {'attr': {'class': 'btn btn-success mb-2 post-button w-100'}}) }}
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    {# </div> #}
{% endif %}
      {% if app.user == null %}
      <a href="{{ path('app_login') }}" class="btn btn-info">
        You need to login to see the list 😜😜 >></a>
      {% endif %}
{% endblock %}