{% extends 'base.html.twig'%}
{% block body %}
{% if app.user != null %}
    <body>
    <div class="profilecard">
        <div class="image">
            <img src="avt.jpg" alt="" class="profileimg">
        </div>
        <div class="textdata">
            <span class="name">Leagues of Legends</span>
        </div>
        <div class="media-button">
            <a href="https://www.facebook.com/losky.nguyen.9/" style="background: #4267b2" class="link">
                <i class='bx bxl-facebook-square'></i>
            </a>
            <a href="https://github.com/Nguyen-Losky" style="background: black" class="link">
                <i class='bx bxl-github'></i>
            </a>
            <a href="" style="background: #1da1f2 " class="link">
                <i class='bx bxl-twitter'></i>
            </a>
            <a href="" style="background: #e1306c" class="link">
                <i class='bx bxl-instagram'></i>
            </a>
        </div>
        <div>

        </div>
        <div class="button">
            <button class="button1">Join Group</button>
            <button class="button1">Post</button>
        </div>
        <div class="analytic">
            <div class="data">
                <i class='bx bx-heart'></i>
                <span class="number">1k friend</span>
            </div>
            <div class="data">
                <i class='bx bx-share'></i>
                <span class="number">3k follow</span>
            </div>
        </div>
    </div>
    <div class="body-profile-group d-flex position-relative m-auto mt-2 justify-content-between "
        style="height: 12px; width: 70%;">
        <div class="body-left">
            <div class="row box">
                <div class="box-header">
                    <div class="box-avata">
                        <div class="avata">
                            <img src="https://i.ytimg.com/vi/dV-znS6RPbQ/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDgS0RcbwMegazHyEMtNprFmWlPhA"
                                alt="">
                            <div class="sub-avata"></div>
                        </div>
                    </div>
                    <div class="box-title">
                        <div class="u-tus">
                            <a href="">
                                <h5>Hello World</h5>
                            </a>
                        </div>
                        <div class="u-title">
                            <a href=""><label for="">123</label></a>
                        </div>
                    </div>
                    <div class="box-view">
                        <span>
                            <i class="fa-solid fa-bars"></i>
                        </span>
                    </div>
                    <div class="box-close">
                        <div>
                            <span>
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <p>Draconis auragelus appears to be directly related to the stealthy Draconis obscurum. Their
                        stature,
                        gait and ability to dive through the air are all similar. However, where Draconis obscurum
                        scaled
                        cavern walls to gain the high ground, Draconis auragelus takes a more bombastic approach.</p>
                    <img src="ark.jfif" alt="">
                </div>
                <div class="box-footer">
                    <div class="box-infor">
                        <div class="countview"><a href=""><i class="fa-solid fa-heart"></i>&#160 0</a></div>
                        <div class="infor-right">
                            <div class="countcomment">
                                <a href="">
                                    <i class="fa-solid fa-comment"></i>&#160 0
                                </a>
                            </div>
                            <div class="countshare">
                                <a href="">
                                    <i class="fa-solid fa-share-from-square"></i>&#160 0
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-action">
                        <div class="sub-box-action" id="sub-box-action-1">
                            <a href="">
                                <i class="icon-none fa-regular fa-heart" id="icon-none"></i>
                                <i class="icon-hide fa-solid fa-heart"></i>
                            </a>
                            <a href="" class=""></a>
                        </div>
                        <div class="sub-box-action">
                            <a href="">
                                <i class="icon-none fa-regular fa-comment"></i>
                                <i class="icon-hide fa-solid fa-comment"></i>
                            </a>
                        </div>
                        <div class="sub-box-action">
                            <a href="">
                                <i class="icon-none fa-regular fa-share-from-square"></i>
                                <i class="icon-hide fa-solid fa-share-from-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row box mt-2">
                <div class="box-header">
                    <div class="box-avata">
                        <div class="avata">
                            <img src="https://i.ytimg.com/vi/dV-znS6RPbQ/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDgS0RcbwMegazHyEMtNprFmWlPhA"
                                alt="">
                            <div class="sub-avata"></div>
                        </div>
                    </div>
                    <div class="box-title">
                        <div class="u-tus">
                            <a href="">
                                <h5>Hello World</h5>
                            </a>
                        </div>
                        <div class="u-title">
                            <a href=""><label for="">123</label></a>
                        </div>
                    </div>
                    <div class="box-view">
                        <span>
                            <i class="fa-solid fa-bars"></i>
                        </span>
                    </div>
                    <div class="box-close">
                        <div>
                            <span>
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <p>Draconis auragelus appears to be directly related to the stealthy Draconis obscurum. Their
                        stature,
                        gait and ability to dive through the air are all similar. However, where Draconis obscurum
                        scaled
                        cavern walls to gain the high ground, Draconis auragelus takes a more bombastic approach.</p>
                    <img src="ark.jfif" alt="">
                </div>
                <div class="box-footer">
                    <div class="box-infor">
                        <div class="countview"><a href=""><i class="fa-solid fa-heart"></i>&#160 0</a></div>
                        <div class="infor-right">
                            <div class="countcomment">
                                <a href="">
                                    <i class="fa-solid fa-comment"></i>&#160 0
                                </a>
                            </div>
                            <div class="countshare">
                                <a href="">
                                    <i class="fa-solid fa-share-from-square"></i>&#160 0
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-action">
                        <div class="sub-box-action" id="sub-box-action-1">
                            <a href="">
                                <i class="icon-none fa-regular fa-heart" id="icon-none"></i>
                                <i class="icon-hide fa-solid fa-heart"></i>
                            </a>
                            <a href="" class=""></a>
                        </div>
                        <div class="sub-box-action">
                            <a href="">
                                <i class="icon-none fa-regular fa-comment"></i>
                                <i class="icon-hide fa-solid fa-comment"></i>
                            </a>
                        </div>
                        <div class="sub-box-action">
                            <a href="">
                                <i class="icon-none fa-regular fa-share-from-square"></i>
                                <i class="icon-hide fa-solid fa-share-from-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-right ">
            <div class="group-introduction border border-2 rounded-2 p-2 bg-white">
                <h5 class="title-intro">Introduction</h5>
                <div class="d-flex">
                    <p>Group theme: &#160</p>
                    <a href="">Game</a>
                </div>
                <span>Description: Draconis auragelus appears to be directly related to the stealthy Draconis obscurum.
                    Their
                    stature,
                    gait and ability to dive through the air are all similar. However, where Draconis obscurum
                    scaled
                    cavern walls to gain the high ground, Draconis auragelus takes a more bombastic approach.</span>
            </div>
            <div class="group-event mt-2 border border-2 rounded-2">
                <div class="store-img bg-white">
                    <h5> &nbsp Featured photo</h5>
                    <div class="container-img d-flex">
                        <div class="m-1">
                            <img src="ark.jfif" alt="">
                        </div>
                        <div class="m-1">
                            <img src="{{ asset('images/koky-logo.png') }}" alt="">
                        </div>
                        <div class="m-1">
                            <img src="{{ asset('images/koky-logo.png') }}" alt="">
                        </div>
                        <div class="m-1">
                            <img src="{{ asset('images/koky-logo.png') }}" alt="">
                        </div>
                        <div class="m-1">
                            <img src="{{ asset('images/koky-logo.png') }}" alt="">
                        </div>
                        <div class="m-1">
                            <img src="{{ asset('images/koky-logo.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}
h5{
    font-weight: bold;
}
body{
    min-height: 100vh;
    background-color: #ccc;
}
.image{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin: auto;
    bottom: 50%;
}
.image .profileimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
    position: absolute;
}
.profilecard{
    width: 72%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 0 0 24px 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
}
.profilecard::before{
    content: "";
    position: absolute;
    height: 30%;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    width: 100%;
    background-color: #8ABE53;
}
.textdata{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    color: #000;
    margin-top: 100px;
}
.name{
    font-size: 25px;
    font-weight: 500;
}
.media-button{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-button .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 0 8px;
    background-color: #8ABE53;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.button{
    display: flex;
    align-items: center;
    margin-top: 15px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.button .button1{
    background-color: #8ABE53;
    margin: 0 10px;
    border-radius: 24px;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 25px;
}
.button .button1:hover{
    background-color: #000;
}
.analytic{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytic .data{
    padding: 0 30px;
    border-right: 2px solid #000;
    color: black;
    display: flex;
    align-items: center;
}
.data:last-child{
    border-right: none;
}
.data i{
    font-size: 18px;
    margin-right: 4px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    max-width: 500px;
    min-height: 148px;
    width: inherit;
    border-radius: 6px;
    border: 1px #999 solid;
    height: auto;
    box-sizing: border-box;
    margin-top: 30px;
    box-shadow: 2px 2px 7px #8ABE53;
    background-color: #fff;
}
.box-header{
    height: 50px;
    /* background-color: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    position: relative;
    /* border: 1px solid black; */
}
.box-avata{
    /* background-color: blue; */
    height: 36px;
    width: 36px;
    position: absolute;
    left: 12px;
}
.avata{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative;
}
.avata > img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.box-title{
    background-color: green;
    height: 46px;
    width: 350px;
    position: absolute;
    left: 11%;
    bottom: 0;
}
.u-title label{
    margin: 0;
    font-size: 14px;
    color: #999;
}
.u-title label:hover{
    text-decoration: underline;
    color: #333;
}
.u-tus{
    width: 100%;
    height: 50%;
    background-color: white;
}
.u-tus a h5{
    color: black;
}
.u-tus a h5:hover{
    text-decoration: underline;
}
.u-tus a{
    text-decoration: none;
}
.u-title{
    background-color: white;
    width: 100%;
    height: 50%;
}
.box-view{
    /* background-color: yellow; */
    height: 36px;
    width: 36px;
    position: absolute;
    right: 11%;
    display: flex;
    justify-content: center; 
}
.box-view span{
   margin: auto;
}
.box-close{
    /* background-color: pink; */
    height: 36px;
    width: 36px;
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
}
.box-content{
    padding-top: 12px;
    background-color: white;
    width: 100%;
    height: auto;
}
.box-content img{
    max-width: 100%;
    min-width: 100%;
}
.box-footer{
    height: 60px;
    width: 100%;
}   
.box-infor{
    height: 30px;
    width: 100%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
}
.box-footer a{
    text-decoration: none;
    color: #999;
}
.box-infor a:hover{
    text-decoration: underline;
    color: #333;
}
.countview{
    margin-left: 28px;
}
.infor-right{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-right: 28px;
}
.box-action{
    display: flex;
    justify-content: space-around;
}
.sub-box-action{
    width: 100px;
    text-align: center;
    height: 29px;
    border-radius: 6px;
}
.icon-hide
{
    display: none;
}
.box-footer .box-action .sub-box-action a:hover .icon-none , .box-footer .box-action .sub-box-action .icon-hide{
    display: none;
}
.box-footer .box-action .sub-box-action:hover a:hover .icon-hide , .sub-box-action:hover{
    display: inline;
    background-color: #eee7e7;
}
.body-right{
    width: 35%;
}
.body-right .group-introduction{
    box-shadow: 2px 2px 7px #8ABE53;
}
.body-right .group-introduction a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.group-event{
    box-shadow: 2px 2px 7px #8ABE53;
}
.store-img img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
.group-event .store-img .container-img{
    flex-wrap: wrap;
}
</style>
{% endif %}
      {% if app.user == null %}
      <a href="{{ path('app_login') }}" class="btn btn-info">
        You need to login to see the list 😜😜 >></a>
      {% endif %}
{% endblock %}