{% extends 'base.html.twig'%}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block body %}
{% if app.user != null %}
<body>
    <div class="containerall">
        <div class="left d-none d-lg-block ">
            <div>
                <div class="group-action-left-1">
                    <ul>
                        <li>
                            <div>
                                <i class="fa-solid fa-house">&#160</i>
                            </div>
                            <div>
                                <h6>Home</h6>
                            </div>
                        </li>
                        <li>
                            <div class="sub-avatar">
                                <img src="ark.jfif" alt="">
                            </div>
                            <div>
                                <h6>Name</h6>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="group-action-left-2">
                    <ul>
                        <li>
                            <div>
                                <i class="fa-solid fa-user-group">&#160</i>
                            </div>
                            <div>
                                <h6>Friend</h6>
                            </div>
                        </li>
                        <li>
                            {# <div class="dropdown group-drop-down">
                                <a class="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div style="height: 30px;">
                                        <i class="fa-solid fa-people-group"> &#160</i>
                                    </div>
                                    <div style="height: 30px;">
                                        <h6>Group</h6>
                                    </div>
                                </a>
                                <ul class="dropdown-menu left-drop-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <img src="{{ asset('images/koky-logo.png') }}" alt="">
                                        <a class="dropdown-item" href="#">Action</a>
                                    </li>
                                    <li>
                                        <img src="{{ asset('images/koky-logo.png') }}" alt="">
                                        <a class="dropdown-item" href="#">Action</a>
                                    </li>
                                </ul>
                            </div> #}
                            <div>
                                <i class="fa-solid fa-people-group">&#160</i>
                            </div>
                            <div>
                                <h6>Group</h6>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="group-action-left-3">
                    <ul>
                        <li>
                            <div class="sub-avatar">
                                <img src="{{ asset('images/koky-logo.png') }}" alt="">
                            </div>
                            <div>
                                <h6>Group 1</h6>
                            </div>
                        </li>
                        <li>
                            <div class="sub-avatar">
                                <img src="{{ asset('images/koky-logo.png') }}" alt="">
                            </div>
                            <div>
                                <h6>Group 2</h6>
                            </div>
                        </li>
                        <li>
                            <div class="sub-avatar">
                                <img src="{{ asset('images/koky-logo.png') }}" alt="">
                            </div>
                            <div>
                                <h6>Group 3</h6>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="left-footer">
                    <a href=""><li>Privacy &#160 </li></a>
                    <a href=""><li>koky's policy &#160</li></a>
                    <a href=""><li>Advertisement &#160</li></a>
                    <a href=""><li>Term &#160</li></a>
                    <a href=""><li>Copyright by KOKY (©) &#160</li></a>
                </div>
            </div>
        </div>
        <div class="middle mx-auto">
            <div class="d-flex rounded" style="width: 500px; height: 50px; background-color: #8ABE53;     margin-top: 15px;">
                <div class="p-1">
                    <img src="ark.jfif" class="rounded-circle" alt="" style="width: 40px; height: 40px;">
                </div>
                <a href="#" style="height: 60%; margin: auto; width: 80%;">
                    <form action="" method="post">
                        <button  class="rounded-pill" name="button-post" style=" margin: auto; width: 100%; height: 100%; border: 1px solid #ccc; background-color: #fff;"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                            <span>What are you thinking?</span>
                        </button>
                    </form>
                </a>
            </div>
            {% for p in posts %}
            {% set user = app.entityManager.find('App\\Entity\\User', post.post_user_id) %}
            <div class="box">
                <div class="box-header">
                    <div class="box-avata">
                        <div class="avata">
                            <img src="{{asset('uploads/'~ user.avatar)}}" alt="">
                            <div class="sub-avata"></div>
                        </div>
                    </div>
                    <div class="box-title">
                        <div class="u-tus">
                            <a href="">
                                <h5>{{ user.username }}</h5>
                            </a>
                        </div>
                        <div class="u-title">
                            <a href=""><label for="">{{p.date}}</label></a>
                        </div>
                    </div>
                    <div class="box-view">
                        <span>
                            <i class="fa-solid fa-bars"></i>
                        </span>
                    </div>
                    <div class="box-close">
                        <div>
                            <span>
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <p>{{p.content}}</p>
                    <img src="{{ asset('images/koky-logo.png') }}" alt="">
                </div>
                <div class="box-footer">
                    <div class="box-infor">
                        <div class="countview"><a href=""><i class="fa-solid fa-heart"></i>&#160 0</a></div>
                        <div class="infor-right">
                            <div class="countcomment">
                                <a href="">
                                    <i class="fa-solid fa-comment"></i>&#160 0
                                </a>
                            </div>
                            <div class="countshare">
                                <a href="">
                                    <i class="fa-solid fa-share-from-square"></i> &#160 0
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-action">
                        <div class="sub-box-action" id="sub-box-action-1">
                            <a href="">
                                <i class="icon-none fa-regular fa-heart" id="icon-none"></i>
                                <i class="icon-hide fa-solid fa-heart"></i>
                            </a>
                            <a href="" class=""></a>
                        </div>
                        <div class="sub-box-action">
                            <a href="">
                                <i class="icon-none fa-regular fa-comment"></i>
                                <i class="icon-hide fa-solid fa-comment"></i>
                            </a>
                        </div>
                        <div class="sub-box-action">
                            <a href="">
                                <i class="icon-none fa-regular fa-share-from-square"></i>
                                <i class="icon-hide fa-solid fa-share-from-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="right d-none d-lg-block">
            <h5>&#160 abc</h5>
            <div class="list-friend">
                <ul>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                <li>
                    <img src="ark.jfif" alt="">
                    <a href="">UserName</a>
                </li>
                
                <li>
                    <a href="">New Chat</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {# <form class="container border rounded form-up"> #}
                {{ form_start(form,{'attr': {'class': 'container border rounded form-up'}}) }}
                    <div class="post-header border-bottom text-center">
                        <h2>Make post</h2>
                    </div>
                    <div class="post-body">
                        <div class="d-flex mt-1" style="height: 80px;">
                            <div class="">
                                <img src="ark.jfif" class="rounded-circle border-dark" alt=""
                                    style="width: 60px; height: 60px;">&nbsp &nbsp
                            </div>
                            <div>
                                <div>
                                    <h5>Name</h5>
                                    {{ form_widget(form.PostUserID, {'attr': {'hidden': 'hidden', 'value': app.user.id}}) }}
                                </div>
                                
                                <div>
                                    {{ form_widget(form.status, {'attr': {'class': 'form-select bg-light select-opnion','aria-label': 'Default select example'}}) }}
                                    {# <select class="form-select bg-light select-opnion" aria-label="Default select example">
                                        <option value="1"selected>Public</option>
                                        <option value="2">Private</option>
                                        <option value="3">Only Me</option>
                                    </select> #}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {# <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> #}
                            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        {{ form_widget(form.date, {'attr': {'hidden': 'hidden', 'value': form.vars.value.date|date('Y-m-d H:i:s')}}) }}
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">
                                <i class="fa-solid fa-image"></i>
                            </label>
                            {# <input type="file" class="form-control" id="inputGroupFile01"> #}
                            {{ form_widget(form.image, {'attr': {'class': 'form-control', 'id': 'inputGroupFile01'}}) }}
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button type="submit" class="btn btn-success mb-2 post-button">
                            Post
                        </button>
                    </div>
                {# </form> #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
    <style>
.btn-success:hover {
    background-color: #97cc5f !important;
}
body{
    background-color: #ccc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-up{
    width: 500px; 
    box-shadow: 2px 2px #8ABE53;
}
.select-opnion{
    height: 30px !important; 
    font-size: 12px;
}

.post-button{
    background-color: #8ABE53; 
    font-weight: 700; 
    width: 100%; 
    transition: all 0.4s ease; 
}
.box{
    width: 500px;
    min-height: 148px;
    border-radius: 6px;
    border: 1px #999 solid;
    height: auto;
    box-sizing: border-box;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: #a5d473 2px 2px;
}
.box-header{
    height: 50px;
    /* background-color: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    position: relative;
    /* border: 1px solid black; */
}
.box-avata{
    /* background-color: blue; */
    height: 36px;
    width: 36px;
    position: absolute;
    left: 12px;
}
.avata{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative;
}
.avata > img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.box-title{
    background-color: green;
    height: 46px;
    width: 350px;
    position: absolute;
    left: 11%;
    bottom: 0;
}
.u-title label{
    margin: 0;
    font-size: 14px;
    color: #999;
}
.u-title label:hover{
    text-decoration: underline;
    color: #333;
}
.u-tus{
    width: 100%;
    height: 50%;
    background-color: white;
}
.u-tus a h5{
    color: black;
}
.u-tus a h5:hover{
    text-decoration: underline;
}
.u-tus a{
    text-decoration: none;
}
.u-title{
    background-color: white;
    width: 100%;
    height: 50%;
}
.box-view{
    /* background-color: yellow; */
    height: 36px;
    width: 36px;
    position: absolute;
    right: 11%;
    display: flex;
    justify-content: center; 
}
.box-view span{
   margin: auto;
}
.box-close{
    /* background-color: pink; */
    height: 36px;
    width: 36px;
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
}
.box-content{
    padding-top: 6px;
    background-color: white;
    width: 100%;
    height: auto;
    text-align: justify;
}
.box-content img{
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    margin: auto;
    border-radius: 10px;
}
.box-content p{
    padding: 8px;
}
.box-footer{
    height: 60px;
    width: 100%;
}   
.box-infor{
    height: 30px;
    width: 100%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
}
.box-footer a{
    text-decoration: none;
    color: #999;
}
.box-infor a:hover{
    text-decoration: underline;
    color: #333;
}
.countview{
    margin-left: 28px;
}
.infor-right{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-right: 28px;
}
.box-action{
    display: flex;
    justify-content: space-around;
}
.sub-box-action{
    width: 100px;
    text-align: center;
    height: 29px;
    border-radius: 6px;
}
.icon-hide
{
    display: none;
}
.box-footer .box-action .sub-box-action a:hover .icon-none , .box-footer .box-action .sub-box-action .icon-hide{
    display: none;
}
.box-footer .box-action .sub-box-action:hover a:hover .icon-hide , .sub-box-action:hover{
    display: inline;
    background-color: #eee7e7;
}
.left , .right {
    width: 20%;
    height: 300px;
    margin-top: 20px;
}
.left{
    display: block;
    border-radius: #8ABE53 2px 2px;
}
.left > div{
    position: fixed;
    width: inherit;
    height: 198px;
    background-color: #fff;
    border-right: #8ABE53 solid 1px;
    box-shadow: #8ABE53 2px 2px; 
}
.group-action-left-1{
    height:100px;
}
.group-action-left-1 ul, .group-action-left-1 ul li{
    width: 100%;
    list-style: none;
    height: 40px;
    padding: 0;
    list-style-type: none;
    margin-top: 6px;
    border-radius: 3px;
    vertical-align: middle;
    line-height:40px;

}
.group-action-left-1 ul li{
    display: flex;
    transition: all 0.3s ease;
}
.group-action-left-1 ul li:last-child{
    border-bottom: #333 solid 1px;
}
.group-action-left-1 ul li div h6{
    line-height: 40px;
}
.group-action-left-1 ul li .sub-avatar{
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.group-action-left-1 ul li .sub-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.group-action-left-1 li:hover{
    background-color: #8ABE53;
}
.group-drop-down{
    width: 100%;
    background-color: #fff;
}
.group-action-left-2 ul, .group-action-left-2 ul li{
    width: 100%;
    list-style: none;
    height: 40px;
    padding: 0;
    list-style-type: none;
    border-radius: 3px;
    vertical-align: middle;
    line-height:40px;
    border: none;
}
.group-action-left-2 ul li, .group-action-left-2 ul li a {
    display: flex;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}
.group-action-left-2 ul li:last-child{
    border-bottom: #333 solid 1px;
}
.group-action-left-2 ul li div h6, .group-action-left-3 ul li div h6 {
    line-height: 40px;
}
.group-action-left-2 > ul > li > div > ul > li{
    display: flex;
    width: 100%;
}
.group-action-left-3{
    margin-top: 50px;
}
.group-action-left-3 ul, .group-action-left-3 ul li{
    width: 100%;
    list-style: none;
    height: 40px;
    padding: 0;
    list-style-type: none;
    border-radius: 3px;
    vertical-align: middle;
    line-height:40px;
    border: none;
}
.group-action-left-3 > ul > li{
    display: flex;
    background-color: #fff;
    list-style-type: none;
    transition: all 0.3 ease;
}
.group-action-left-3 ul li .sub-avatar{
    height: 40px;
    weight: 40px;
}
.group-action-left-3 ul li .sub-avatar img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.group-action-left-3 > ul > li:hover{
    background-color: #8ABE53;
}
/* .left-drop-menu{
    margin-top: 10px !important;
    background-color: #fff !important;
} */
/* .dropdown-item{
    background-color: #fff;
} */
.group-action-left-2 > ul > li > div > ul > li a{
    color: black;
    font-weight: 600;
}
.group-action-left-2 > ul > li > div > ul > li > img{
    /* border-radius: 50%; */
    height: 40px;
    width: 40px;
}
.group-action-left-2 li:hover , .group-action-left-2 a:hover{
    background-color: #8ABE53;
}
.containerall{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.left-footer{
    width: 100%;
    height: 100px;
    box-shadow: #ccc 2px 2px;
    margin-top: 139px;
    display: flex;
    flex-wrap: wrap;
}
.left-footer a{
    text-decoration: none;
    color: #606770;
}
.left-footer a:hover{
    text-decoration: underline;
}
.right{
    height: auto;
    border-left: #8ABE53 solid 1px;
    border-radius: 12px;
    box-shadow: #8ABE53 2px 2px;
    overflow: auto;
}
.right h5{
    background-color: #fff;
}
.list-friend{
    background-color: #fff;
    overflow: auto;
    position: sticky;
}
.right > div > ul > li{
    background-color: #8ABE53;
    list-style: none;
    list-style-type: none;
    height: 30px;
    border-radius: 25px 0 0 25px;
    margin-top: 3px;
    transition: all 0.3 ease;
}
.right > div > ul > li > img{
    width: 29px;
    height: 29px;
    border-radius: 50%;
}
.right > div > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
}
.right > div > ul > li:hover{
    background-color: #b6e683;
}
.right ul li:last-child:hover{
    background-color: #b6e683;
}
.right ul li:last-child{
    background-color: #8ABE53;
    list-style: none;
    list-style-type: none;
    height: 30px;
    margin-top: 12px;
    border-radius:12px;
    text-align: center;
    width: 80%;
}
</style>
</body>
{% endif %}
      {% if app.user == null %}
      <a href="{{ path('app_login') }}" class="btn btn-info">
        You need to login to see the list 😜😜 >></a>
      {% endif %}
{% endblock %}
