{% extends 'base.html.twig'%}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block body %}
{% if app.user != null %}
<body class="h-100">
    <div class="contain-all">
        <div class="profilecard">
            <div class="image">
                {% if user.avatar != null %}
                    <img src="{{ asset('uploads/' ~ user.avatar) }}"alt="" class="profileimg">
                {% else %}
                    <img src="{{ asset('images/defaultProfile.jpg') }}"alt="" class="profileimg">
                {% endif %}
            </div>
            <div class="textdata">
                <span class="name">{{user.username}}</span>
                <span class="job">{{user.status}}</span>                
            </div>
            <div class="media-button">
                <a href="https://www.facebook.com/losky.nguyen.9/" style="background: #4267b2" class="link">
                    <i class='bx bxl-facebook-square'></i>
                </a>
                <a href="https://github.com/Nguyen-Losky" style="background: black" class="link">
                    <i class='bx bxl-github'></i>
                </a>
                <a href="" style="background: #1da1f2 " class="link">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="" style="background: #e1306c" class="link">
                    <i class='bx bxl-instagram'></i>
                </a>
            </div>
            <div>
            </div>
            <div class="button">
            {% if app.user.id == id %}
                {# <button class="button1" href="{{path('app_edit_profile')}}">Edit information</button> #}
                <a class="button1" href="{{path('app_edit_profile')}}" style="text-decoration:none">Edit information</a>
            {% else %}
                {% if isFriend == 'false' %}
                    {% if isWaiting == 'false' %}
                        <a class="button1" href="{{path('friendrequest',{'from':app.user.id,'to':id})}}" style="text-decoration:none">Add Friend</a> 
                    {% else %}
                        <button class="btn btn-success rounded-3 disable" href="#" style="text-decoration:none" disabled>Waiting</button> 
                    {% endif %}
                {% endif %}
                <a class="button1" href="{{path('app_message',{'to':id})}}" style="text-decoration:none">Message</a> 
            {% endif %}
            </div>
            {# <div class="analytic">
                <div class="data">
                    <i class='bx bx-heart'></i>
                    <span class="number">1k friend</span>
                </div>
                <div class="data">
                    <i class='bx bx-share'></i>
                    <span class="number">3k follow</span>
                </div>
            </div> #}
        </div>
        <div class="body-profile container">
            <div class="box-1-profile-body row">
                <div>
                    <div class="information">
                        <h3> &nbsp Introduction</h3>
                        <div class="infor">
                            <div>
                                <i class="fa-solid fa-venus-mars"></i>
                                {% if user.gender == 1 %}
                                <h5> &nbsp Gender: Male </h5>
                                {% else %}
                                <h5> &nbsp Gender: Female </h5>
                                {% endif %}
                            </div>
                        </div>
                        <div class="infor">
                            <div>
                                <i class="fa-solid fa-cake-candles"></i>
                                <h5> &nbsp Birthday: {{user.birthday|date("Y-m-d")}}</h5>
                            </div>
                        </div>
                        <div class="infor">
                            <div>
                                <i class="fa-solid fa-globe"></i>
                                <h5> &nbsp Country: {{user.hometown}}</h5>
                            </div>
                        </div>
                        <div class="infor">
                            <div>
                                <i class="fa-solid fa-briefcase"></i>
                                <h5> &nbsp Job: {{user.job}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="store-img">
                        <h3> &nbsp Featured photo</h3>
                        <div class="container-img">
                        {% for p in post|slice(0, 6) %}
                            <div>
                                <img src="{{ asset('uploads/' ~ p.image) }}" alt="">
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="store-friend">
                        <h3> &nbsp Recent friends</h3>
                        <div class="container-img">
                        {% for f in friend|slice(0, 6) %}
                            <div>
                                <a href="{{path('profile',{'id': f.id})}}">
                                {% if f.avatar != null %}
                                    <img src="{{ asset('uploads/' ~ f.avatar) }}" alt="">
                                {% else %}
                                    <img src="{{ asset('images/defaultProfile.jpg') }}" alt="">
                                {% endif %}
                                    <p>{{f.username}}</p>
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-2-profile-body row">
            {% for p in post %}
                <div class="containerall">
                    <div class="middle">
                        <div class="row box">
                            <div class="box-header">
                                <div class="box-avata">
                                    <div class="avata">
                                        {% if p.avatar != null %}
                                        <img src="{{asset('uploads/'~ p.avatar)}}" alt="" >
                                        {% else %}
                                        <img src="{{asset('images/defaultProfile.jpg')}}" alt="">
                                        {% endif %}
                                        <div class="sub-avata"></div>
                                    </div>
                                </div>
                                <div class="box-title">
                                    <div class="u-tus">
                                        <a href="">
                                            <h5>{{p.username}}</h5>
                                        </a>
                                    </div>
                                    <div class="u-title">
                                        <a href=""><label for="">123</label></a>
                                    </div>
                                </div>
                                <div class="box-view">
                                    <div class="dropdown">
                            <button class="btn rounded" type="button" data-bs-toggle="dropdown"aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% if app.user.id == p.post_user_id_id %}
                                <li>
                                    <a class="dropdown-item" href="">Edit</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="">Report</a>
                                </li>
                                {% if app.user.id == p.post_user_id_id %}
                                <li>
                                    <a class="dropdown-item" href="">Delete</a>
                                </li>
                                {% endif %}
                             </ul>
                        </div>
                                </div>
                                <div class="box-close">
                                    <div>
                                        <span>
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-content">
                                <p>{{p.content}}</p>
                                <img src="{{ asset('uploads/' ~ p.image) }}" alt="">
                            </div>
                            <div class="box-footer">
                                <div class="box-infor">
                                    <div class="countview"><a href=""><i class="fa-solid fa-heart"></i>&#160 0</a></div>
                                    <div class="infor-right">
                                        <div class="countcomment">
                                            <a href="">
                                                <i class="fa-solid fa-comment"></i>&#160 0
                                            </a>
                                        </div>
                                        <div class="countshare">
                                            <a href="">
                                                <i class="fa-solid fa-share-from-square"></i>&#160 0
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-action">
                                    <div class="sub-box-action" id="sub-box-action-1">
                                        <a href="">
                                            <i class="icon-none fa-regular fa-heart" id="icon-none"></i>
                                            <i class="icon-hide fa-solid fa-heart"></i>
                                        </a>
                                        <a href="" class=""></a>
                                    </div>
                                    <div class="sub-box-action">
                                        <a href="">
                                            <i class="icon-none fa-regular fa-comment"></i>
                                            <i class="icon-hide fa-solid fa-comment"></i>
                                        </a>
                                    </div>
                                    <div class="sub-box-action">
                                        <a href="">
                                            <i class="icon-none fa-regular fa-share-from-square"></i>
                                            <i class="icon-hide fa-solid fa-share-from-square"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</body>
<style>
    body{
    height: 100vh;
    background-color: #ccc;
}
.image{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin: auto;
    bottom: 50%;
}
.image .profileimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
    position: absolute;
}
.profilecard{
    height:300px;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 0 0 24px 24px;
    display: flex;
    flex-dire   ction: column;
    position: relative;
    margin: auto;
}
.profilecard::before{
    content: "";
    position: absolute;
    height: 30%;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    width: 100%;
    background-color: #8ABE53;
}
.textdata{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    color: #000;
    margin-top: 60px;
}
.name{
    font-size: 25px;
    font-weight: 500;
}
.media-button{
    bottom: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-button .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 0 8px;
    background-color: #8ABE53;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.button{
    display: flex;
    align-items: center;
    margin-top: 15px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.button .button1{
    background-color: #8ABE53;
    margin: 0 10px;
    border-radius: 24px;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 25px;
}
.button .button1:hover{
    background-color: #000;
}
.analytic{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytic .data{
    padding: 0 30px;
    border-right: 2px solid #000;
    color: black;
    display: flex;
    align-items: center;
}
.data:last-child{
    border-right: none;
}
.data i{
    font-size: 18px;
    margin-right: 4px
}
.body-profile{
    width: 70%;
    background-color: #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px 24px 24px 24px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
}
.box-1-profile-body{
    width: 40%;
    height: 780px;
    border-radius: 6px;
    /* overflow: hidden; */
    top: 0;
    position: sticky;
}
.box-1-profile-body:hover{
    /* overflow-y: auto; */
}
.information{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #8ABE53;
}
.information .infor{
    margin: 4px;
}
.information .infor div{
    display: flex;
}
.store-friend , .store-img{
    margin-top: 15px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #8ABE53;
}
.container-img{
    overflow: hidden;
}
.container-img:hover{
    overflow-y: auto;
}
.store-friend .container-img{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.store-friend .container-img a{
    text-decoration: none;
    color: #000;
}
.store-friend .container-img a:hover{
    text-decoration: underline;
}
.store-friend img{
    margin-top: 5px;
    width: 90px;
    height: 90px;
    border-radius: 6px;
}
.store-img{
    padding-bottom: 20px;
}
.store-img .container-img{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.store-img img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
.box-2-profile-body{
    width: 55%;
    height: 100%;
}
.box{
    min-height: 145px;
    border-radius: 6px;
    border: 1px #999 solid;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: #a5d473 2px 2px;
}
.box-header{
    height: 50px;
    /* background-color: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    position: relative;
    /* border: 1px solid black; */
}
.box-avata{
    /* background-color: blue; */
    height: 36px;
    width: 36px;
    position: absolute;
    left: 12px;
}
.avata{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative;
}
.avata > img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.box-title{
    height: 46px;
    width: 350px;
    position: absolute;
    left: 11%;
    bottom: 0;
}
.u-title label{
    margin: 0;
    font-size: 14px;
    color: #999;
}
.u-title label:hover{
    text-decoration: underline;
    color: #333;
}
.u-tus{
    width: 100%;
    height: 50%;
    background-color: white;
}
.u-tus a h5{
    color: black;
}
.u-tus a h5:hover{
    text-decoration: underline;
}
.u-tus a{
    text-decoration: none;
}
.u-title{
    background-color: white;
    width: 100%;
    height: 50%;
}
.box-view{
    /* background-color: yellow; */
    height: 36px;
    width: 36px;
    position: absolute;
    right: 11%;
    display: flex;
    justify-content: center; 
    transition: all 0.4s ease;
}
.box-view span{
   margin: auto;
}
.box-view:hover{
    background-color: #b6e683;
    border-radius: 12px;
}
.box-view > div > ul > li{
    transition: all 0.3s ease;
}
.box-view .dropdown-item:hover {
  background-color: #8ABE53;
   border-radius: 12px;
}
.box-view > div > ul > li:hover{
    background-color: #8ABE53;
    border-radius: 12px;
}
.box-close{
    /* background-color: pink; */
    height: 36px;
    width: 36px;
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
}
.box-close span{
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.box-close span a{
    text-decoration: none;
    color: black;
}
.box-close span:hover{
    background-color: #b6e683;
}
.box-content{
    padding-top: 6px;
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
}
.box-content p{
    padding: 8px;
    text-align: justify;
}
.box-content img{
    max-width: 97%;
    min-width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    border-radius: 10px;
    vertical-align: middle;
}
.box-footer{
    height: 60px;
    width: 100%;
}   
.box-infor{
    height: 30px;
    width: 100%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
}
.box-footer a{
    text-decoration: none;
    color: #999;
}
.box-infor a:hover{
    text-decoration: underline;
    color: #333;
}
.countview{
    margin-left: 28px;
}
.infor-right{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-right: 28px;
}
.box-action{
    display: flex;
    justify-content: space-around;
}
.sub-box-action{
    width: 100px;
    text-align: center;
    height: 29px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.icon-hide
{
    display: none;
}
.box-footer .box-action .sub-box-action a:hover .icon-none , .box-footer .box-action .sub-box-action .icon-hide{
    display: none;
}
.box-footer .box-action .sub-box-action:hover a:hover .icon-hide , .sub-box-action:hover{
    display: inline;
    background-color: #8ABE53;
    color: #fff;
}
.containerall{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
</style>
{% endif %}
      {% if app.user == null %}
      <a href="{{ path('app_login') }}" class="btn btn-info">
        You need to login to see the list 😜😜 >></a>
      {% endif %}
{% endblock %}